{% extends "base.html" %}

{% load static %}

{% block class %}class="sub_page"{% endblock class %}

{% block about_status %}active{% endblock about_status %}

{% block main %}

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'images/about-img.png' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                We Are Fast Feast
              </h2>
            </div>
            <p>
             {% for i in data %}
             {{ i.Description }}
             {% endfor %}
            </p>
            <p>
              Whether you're craving a classic pizza, a juicy burger, crispy fries, or a delicious pasta dish, we have something for everyone! We invite you to join us at Fast Feast and be part of our food-loving family. Your satisfaction is our top priority, and we can’t wait to serve you!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->
{% endblock main %}